<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>어디로 갈까남~.~</h1>
    <a href="{% url 'first' %}"><button type="button" class="btn btn-secondary write">첫 번째</button></a>
    <a href="{% url 'second' %}"><button type="button" class="btn btn-secondary write">두 번째</button></a>
    <a href="{% url 'third' %}"><button type="button" class="btn btn-secondary write">세 번째!</button></a>
</body>
</html>